$color-main: olive;

body {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-family: 'Modak' , cursive;
}
#title{
    margin-top: 10vh;
}
#clock{
   
}